body {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
	background-color: rgb(244, 243, 246);
	font-family: 'Open Sans', sans-serif;
}

h1 {

	font-size: 50px;
	font-weight: 300;
}

headerBlock {
	width: 100%;
	background-color: green;
	height: 250px;
}